AdventureWorksAPITest/obj/Debug/net9.0
AdventureWorksAPITest/bin/Debug/net9.0
AdventureWorksAPITest/obj/Debug/net9.0
AdventureWorksAPITest/bin/Debug/net9.0
.vs/slnx.sqlite
AdventureWorksAPITest/obj/Release/net9.0
AdventureWorksAPITest/bin/Release/net9.0
